body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:805px;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:805px;
}
#u5156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:554px;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:775px;
  width:1920px;
  height:554px;
}
#u5157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:1705px;
  top:247px;
  width:68px;
  height:37px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:284px;
  width:1827px;
  height:476px;
}
#u5160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:116px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:116px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:358px;
  word-wrap:break-word;
}
#u5161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:116px;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:0px;
  width:552px;
  height:116px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:548px;
  word-wrap:break-word;
}
#u5162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:116px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:0px;
  width:359px;
  height:116px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#006600;
  text-align:left;
}
#u5162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:116px;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:0px;
  width:554px;
  height:116px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:116px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:116px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:116px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-style:normal;
  font-size:20px;
  color:#FF6600;
  text-align:left;
}
#u5167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:156px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:156px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:156px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:196px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:196px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:196px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:236px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:236px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:236px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:276px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:276px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:276px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:316px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:316px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:316px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#006600;
  text-align:left;
}
#u5187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:356px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:356px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:356px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:356px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:396px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:548px;
  word-wrap:break-word;
}
#u5194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:396px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:396px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
}
#u5195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:550px;
  word-wrap:break-word;
}
#u5196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:436px;
  width:362px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:358px;
  word-wrap:break-word;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:40px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:436px;
  width:552px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u5197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:436px;
  width:359px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u5198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:40px;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:436px;
  width:554px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u5201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u5202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 243, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:794px;
  width:99px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 243, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:794px;
  width:99px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 243, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:794px;
  width:99px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:176px;
  width:116px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(113, 171, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:1783px;
  top:247px;
  width:95px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u5208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-style:normal;
  text-align:left;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:285px;
  width:913px;
  height:116px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-style:normal;
  text-align:left;
}
#u5208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:909px;
  word-wrap:break-word;
}
#u5209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1465px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:720px;
  width:1465px;
  height:40px;
}
#u5209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:454px;
  width:606px;
  height:319px;
  overflow:hidden;
  visibility:hidden;
}
#u5210_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:319px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5210_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:19px;
  width:522px;
  height:285px;
}
#u5211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:90px;
  width:518px;
  height:76px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u5213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:213px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:213px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5215 {
  position:absolute;
  left:83px;
  top:861px;
}
#u5215_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1750px;
  height:180px;
  background-image:none;
}
#u5215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:180px;
}
#u5217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u5218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:180px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u5222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u5228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u5229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:70px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u5230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:45px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:45px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:45px;
  width:180px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009933;
}
#u5232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:45px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:45px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5235 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:45px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5236 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:45px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:45px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:45px;
  width:100px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:45px;
  width:160px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:45px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:70px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u5242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:90px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:90px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:90px;
  width:180px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009933;
}
#u5244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:90px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:90px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:90px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:90px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:90px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:90px;
  width:100px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:90px;
  width:160px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:90px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:70px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u5254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:135px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:135px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:135px;
  width:180px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009933;
}
#u5256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:135px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:135px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:135px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:135px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:135px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:135px;
  width:100px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:135px;
  width:160px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:135px;
  width:200px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
