body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:39px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:39px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:114px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u847 {
  position:absolute;
  left:725px;
  top:148px;
  visibility:hidden;
}
#u847_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  background-image:none;
}
#u847_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u848_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:114px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:123px;
  top:148px;
  visibility:hidden;
}
#u855_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:270px;
  background-color:rgba(0, 102, 0, 1);
  background-image:none;
}
#u855_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:270px;
}
#u856_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:270px;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u866 {
  position:absolute;
  left:282px;
  top:148px;
  visibility:hidden;
}
#u866_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  background-image:none;
}
#u866_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u867_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u871 {
  position:absolute;
  left:441px;
  top:148px;
  visibility:hidden;
}
#u871_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  background-image:none;
}
#u871_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u872_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:113px;
  width:115px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:606px;
  top:148px;
  visibility:hidden;
}
#u885_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  background-image:none;
}
#u885_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u886_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:791px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1920px;
  height:791px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:149px;
  width:1894px;
  height:210px;
  overflow:hidden;
}
#u901_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1894px;
  height:210px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u901_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1884px;
  height:210px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1884px;
  height:210px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:134px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:58px;
  width:105px;
  height:134px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:213px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:1920px;
  height:213px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:136px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:207px;
  width:93px;
  height:136px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:136px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:207px;
  width:103px;
  height:136px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:136px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:207px;
  width:104px;
  height:136px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:136px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:207px;
  width:90px;
  height:136px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:136px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:207px;
  width:103px;
  height:136px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:136px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:207px;
  width:102px;
  height:136px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:136px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:1612px;
  top:207px;
  width:103px;
  height:136px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:132px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:211px;
  width:101px;
  height:132px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:463px;
  width:1818px;
  height:90px;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:45px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:285px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:45px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:207px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:0px;
  width:205px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:201px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:45px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:45px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:0px;
  width:251px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:0px;
  width:209px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:0px;
  width:257px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:81px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:45px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:45px;
  width:285px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:45px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:45px;
  width:207px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:45px;
  width:205px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:201px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:45px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:45px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:45px;
  width:203px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009900;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:45px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:45px;
  width:251px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:45px;
  width:209px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:45px;
  width:257px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:92px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:372px;
  width:1921px;
  height:92px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#0000FF;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:412px;
  width:173px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#0000FF;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#0000FF;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:412px;
  width:164px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#0000FF;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:168px;
  width:646px;
  height:27px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:642px;
  word-wrap:break-word;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:1715px;
  top:515px;
  width:80px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:525px;
  width:47px;
  height:16px;
  font-size:28px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(115, 172, 162, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:418px;
  width:165px;
  height:40px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
