body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u8177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u8178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:39px;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:39px;
}
#u8180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:114px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8182 {
  position:absolute;
  left:725px;
  top:148px;
  visibility:hidden;
}
#u8182_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  background-image:none;
}
#u8182_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u8183_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u8185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u8189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:114px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u8190 {
  position:absolute;
  left:123px;
  top:148px;
  visibility:hidden;
}
#u8190_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
  background-color:rgba(0, 102, 0, 1);
  background-image:none;
}
#u8190_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
}
#u8191_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
}
#u8193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u8194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u8195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u8196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u8197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u8198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u8199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u8200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u8201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u8202 {
  position:absolute;
  left:282px;
  top:148px;
  visibility:hidden;
}
#u8202_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  background-image:none;
}
#u8202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u8203_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u8205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u8206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u8207 {
  position:absolute;
  left:441px;
  top:148px;
  visibility:hidden;
}
#u8207_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  background-image:none;
}
#u8207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u8208_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u8210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u8210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u8211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u8211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u8212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u8212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u8213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u8214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u8215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u8216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u8217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u8218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u8219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8219 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u8220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:113px;
  width:115px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u8221 {
  position:absolute;
  left:606px;
  top:148px;
  visibility:hidden;
}
#u8221_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  background-image:none;
}
#u8221_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u8222_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u8224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u8225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u8226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u8227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u8228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u8229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u8230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u8231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u8231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u8232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u8233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u8234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u8235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u8236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u8237 {
  position:absolute;
  left:904px;
  top:149px;
  visibility:hidden;
}
#u8237_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
  background-image:none;
}
#u8237_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
}
#u8238_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
}
#u8240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u8242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u8243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u8243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u8244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u8244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u8245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u8245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u8246 {
  position:absolute;
  left:1065px;
  top:149px;
  visibility:hidden;
}
#u8246_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:336px;
  background-image:none;
}
#u8246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:336px;
}
#u8247_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:336px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:336px;
}
#u8249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u8249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u8250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u8250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u8251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u8251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u8252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u8258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u8259 {
  position:absolute;
  left:1225px;
  top:149px;
  visibility:hidden;
}
#u8259_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  background-image:none;
}
#u8259_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u8260_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u8262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u8262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u8264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:791px;
}
#u8264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1920px;
  height:791px;
}
#u8264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:213px;
}
#u8265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1920px;
  height:213px;
}
#u8265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
}
#u8266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:1920px;
  height:94px;
}
#u8266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8267 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:455px;
  width:1818px;
  height:90px;
}
#u8268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:45px;
}
#u8268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u8269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:45px;
}
#u8269 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:0px;
  width:272px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u8270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:45px;
}
#u8270 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:0px;
  width:727px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:723px;
  word-wrap:break-word;
}
#u8271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:45px;
}
#u8271 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:0px;
  width:274px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:270px;
  word-wrap:break-word;
}
#u8272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:45px;
}
#u8272 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:0px;
  width:274px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:270px;
  word-wrap:break-word;
}
#u8273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:45px;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:271px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u8274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:45px;
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:45px;
  width:272px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u8275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:45px;
}
#u8275 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:45px;
  width:727px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:723px;
  word-wrap:break-word;
}
#u8276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:45px;
}
#u8276 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:45px;
  width:274px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:45px;
}
#u8277 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:45px;
  width:274px;
  height:45px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u8277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:270px;
  word-wrap:break-word;
}
#u8278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:168px;
  width:646px;
  height:27px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u8278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:642px;
  word-wrap:break-word;
}
#u8279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#3A3AFF;
}
#u8279 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:418px;
  width:151px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#3A3AFF;
}
#u8279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u8280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#2A8273;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:416px;
  width:151px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#2A8273;
}
#u8280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u8281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:132px;
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:211px;
  width:101px;
  height:132px;
}
#u8281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:136px;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:207px;
  width:90px;
  height:136px;
}
#u8282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:136px;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:207px;
  width:103px;
  height:136px;
}
#u8283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
