body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u4819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u4820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:791px;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1920px;
  height:791px;
}
#u4822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:39px;
}
#u4824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:39px;
}
#u4824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4825 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:114px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4826 {
  position:absolute;
  left:725px;
  top:148px;
  visibility:hidden;
}
#u4826_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  background-image:none;
}
#u4826_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u4827_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u4829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:114px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4834 {
  position:absolute;
  left:123px;
  top:148px;
  visibility:hidden;
}
#u4834_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
  background-color:rgba(0, 102, 0, 1);
  background-image:none;
}
#u4834_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
}
#u4835_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
}
#u4837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u4838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u4839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u4840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4846 {
  position:absolute;
  left:282px;
  top:148px;
  visibility:hidden;
}
#u4846_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  background-image:none;
}
#u4846_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u4847_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u4849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4851 {
  position:absolute;
  left:441px;
  top:148px;
  visibility:hidden;
}
#u4851_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  background-image:none;
}
#u4851_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u4852_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u4854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u4855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u4856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u4857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:113px;
  width:115px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u4865 {
  position:absolute;
  left:606px;
  top:148px;
  visibility:hidden;
}
#u4865_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  background-image:none;
}
#u4865_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u4866_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u4868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4882 {
  position:absolute;
  left:904px;
  top:149px;
  visibility:hidden;
}
#u4882_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
  background-image:none;
}
#u4882_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
}
#u4883_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
}
#u4885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4891 {
  position:absolute;
  left:1065px;
  top:149px;
  visibility:hidden;
}
#u4891_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
  background-image:none;
}
#u4891_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
}
#u4892_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4903 {
  position:absolute;
  left:1225px;
  top:149px;
  visibility:hidden;
}
#u4903_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  background-image:none;
}
#u4903_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4904_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4907 {
  position:absolute;
  left:1382px;
  top:149px;
  visibility:hidden;
}
#u4907_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
  background-image:none;
}
#u4907_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
}
#u4908_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
