body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:650px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1535px;
  height:650px;
}
#u8096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u8097 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:360px;
  height:180px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u8097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:356px;
  word-wrap:break-word;
}
#u8098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u8098 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:150px;
  width:360px;
  height:180px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u8098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:356px;
  word-wrap:break-word;
}
#u8099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u8099 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:150px;
  width:600px;
  height:180px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u8099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:596px;
  word-wrap:break-word;
}
#u8100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u8100 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:370px;
  width:760px;
  height:360px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u8100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:756px;
  word-wrap:break-word;
}
#u8101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:69px;
}
#u8101 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:206px;
  width:60px;
  height:69px;
}
#u8101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:81px;
}
#u8102 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:200px;
  width:60px;
  height:81px;
}
#u8102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u8103 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:165px;
  width:150px;
  height:150px;
}
#u8103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u8104 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:370px;
  width:600px;
  height:360px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u8104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u8105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:280px;
}
#u8105 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:440px;
  width:593px;
  height:280px;
}
#u8105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:1535px;
  height:40px;
}
#u8106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:1535px;
  height:80px;
}
#u8107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8108 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:21px;
  width:421px;
  height:35px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u8109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u8109 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:14px;
  width:70px;
  height:58px;
}
#u8109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8111 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:32px;
  width:30px;
  height:30px;
}
#u8111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8112 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:35px;
  width:41px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-style:normal;
  font-size:20px;
}
#u8113 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:35px;
  width:152px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-style:normal;
  font-size:20px;
}
#u8113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u8114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8115 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:32px;
  width:30px;
  height:30px;
}
#u8115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8116 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:35px;
  width:41px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8117 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:78px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u8118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u8118 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:385px;
  width:60px;
  height:41px;
}
#u8118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8119 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:78px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u8120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8120 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:78px;
  width:150px;
  height:40px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u8121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u8121 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:385px;
  width:42px;
  height:41px;
}
#u8121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:440px;
  width:560px;
  height:255px;
}
#u8123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u8123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
}
#u8123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u8124 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
}
#u8124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u8125 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
}
#u8125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u8126 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
}
#u8126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u8127 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
}
#u8127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8129 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:45px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8130 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:45px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8131 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:45px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8132 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:45px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8134 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:75px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:75px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:75px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:75px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8139 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:105px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8140 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:105px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8141 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:105px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8142 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:105px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8144 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:135px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8145 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:135px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8146 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:135px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8147 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:135px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8149 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:165px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8150 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:165px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8151 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:165px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8152 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:165px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8154 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:195px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8155 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:195px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8156 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:195px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8157 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:195px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8159 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:225px;
  width:100px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8160 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:225px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8161 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:225px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8162 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:225px;
  width:120px;
  height:30px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u8162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
