body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:842px;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:842px;
}
#u5585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
  background:inherit;
  background-color:rgba(111, 169, 159, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:1732px;
  top:380px;
  width:147px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:466px;
  width:1827px;
  height:135px;
}
#u5588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u5588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:66px;
  height:45px;
}
#u5589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:0px;
  width:168px;
  height:45px;
}
#u5590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:0px;
  width:134px;
  height:45px;
}
#u5591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:134px;
  height:45px;
}
#u5592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:173px;
  height:45px;
}
#u5593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:0px;
  width:97px;
  height:45px;
}
#u5594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:0px;
  width:127px;
  height:45px;
}
#u5595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:0px;
  width:89px;
  height:45px;
}
#u5596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:83px;
  height:45px;
}
#u5597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:0px;
  width:92px;
  height:45px;
}
#u5598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:0px;
  width:188px;
  height:45px;
}
#u5599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:0px;
  width:155px;
  height:45px;
}
#u5600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:0px;
  width:197px;
  height:45px;
}
#u5601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:0px;
  width:92px;
  height:45px;
}
#u5602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:32px;
  height:45px;
}
#u5603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:45px;
  width:66px;
  height:45px;
}
#u5604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:45px;
  width:168px;
  height:45px;
}
#u5605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:45px;
  width:134px;
  height:45px;
}
#u5606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:45px;
  width:134px;
  height:45px;
}
#u5607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:45px;
  width:173px;
  height:45px;
}
#u5608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:45px;
  width:97px;
  height:45px;
}
#u5609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:45px;
  width:127px;
  height:45px;
}
#u5610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:45px;
  width:89px;
  height:45px;
}
#u5611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:45px;
  width:83px;
  height:45px;
}
#u5612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:45px;
  width:92px;
  height:45px;
}
#u5613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:45px;
  width:188px;
  height:45px;
}
#u5614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:45px;
  width:155px;
  height:45px;
}
#u5615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:45px;
  width:197px;
  height:45px;
}
#u5616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:45px;
  width:92px;
  height:45px;
}
#u5617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:32px;
  height:45px;
}
#u5618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:90px;
  width:66px;
  height:45px;
}
#u5619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:90px;
  width:168px;
  height:45px;
}
#u5620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:90px;
  width:134px;
  height:45px;
}
#u5621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:90px;
  width:134px;
  height:45px;
}
#u5622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:90px;
  width:173px;
  height:45px;
}
#u5623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:90px;
  width:97px;
  height:45px;
}
#u5624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:90px;
  width:127px;
  height:45px;
}
#u5625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:90px;
  width:89px;
  height:45px;
}
#u5626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:90px;
  width:83px;
  height:45px;
}
#u5627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:90px;
  width:92px;
  height:45px;
}
#u5628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:90px;
  width:188px;
  height:45px;
}
#u5629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:90px;
  width:155px;
  height:45px;
}
#u5630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:90px;
  width:197px;
  height:45px;
}
#u5631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:90px;
  width:92px;
  height:45px;
}
#u5632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:488px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:601px;
  width:1920px;
  height:488px;
}
#u5633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u5635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u5636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
  background:inherit;
  background-color:rgba(94, 138, 203, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:380px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u5638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:132px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:200px;
  width:101px;
  height:132px;
}
#u5638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:136px;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:196px;
  width:90px;
  height:136px;
}
#u5639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:136px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:196px;
  width:103px;
  height:136px;
}
#u5640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
