body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:842px;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:842px;
}
#u3622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
  background:inherit;
  background-color:rgba(111, 169, 159, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:1732px;
  top:380px;
  width:147px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:466px;
  width:1827px;
  height:135px;
}
#u3625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u3625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:66px;
  height:45px;
}
#u3626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:0px;
  width:168px;
  height:45px;
}
#u3627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:0px;
  width:134px;
  height:45px;
}
#u3628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:134px;
  height:45px;
}
#u3629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:173px;
  height:45px;
}
#u3630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:0px;
  width:97px;
  height:45px;
}
#u3631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:0px;
  width:127px;
  height:45px;
}
#u3632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:0px;
  width:89px;
  height:45px;
}
#u3633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:83px;
  height:45px;
}
#u3634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:0px;
  width:92px;
  height:45px;
}
#u3635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:0px;
  width:188px;
  height:45px;
}
#u3636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:0px;
  width:155px;
  height:45px;
}
#u3637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:0px;
  width:197px;
  height:45px;
}
#u3638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:0px;
  width:92px;
  height:45px;
}
#u3639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:32px;
  height:45px;
}
#u3640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:45px;
  width:66px;
  height:45px;
}
#u3641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:45px;
  width:168px;
  height:45px;
}
#u3642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:45px;
  width:134px;
  height:45px;
}
#u3643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:45px;
  width:134px;
  height:45px;
}
#u3644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:45px;
  width:173px;
  height:45px;
}
#u3645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:45px;
  width:97px;
  height:45px;
}
#u3646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:45px;
  width:127px;
  height:45px;
}
#u3647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:45px;
  width:89px;
  height:45px;
}
#u3648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:45px;
  width:83px;
  height:45px;
}
#u3649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:45px;
  width:92px;
  height:45px;
}
#u3650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:45px;
  width:188px;
  height:45px;
}
#u3651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:45px;
  width:155px;
  height:45px;
}
#u3652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:45px;
  width:197px;
  height:45px;
}
#u3653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:45px;
  width:92px;
  height:45px;
}
#u3654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:32px;
  height:45px;
}
#u3655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:90px;
  width:66px;
  height:45px;
}
#u3656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:90px;
  width:168px;
  height:45px;
}
#u3657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:90px;
  width:134px;
  height:45px;
}
#u3658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:90px;
  width:134px;
  height:45px;
}
#u3659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:90px;
  width:173px;
  height:45px;
}
#u3660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:90px;
  width:97px;
  height:45px;
}
#u3661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:90px;
  width:127px;
  height:45px;
}
#u3662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:90px;
  width:89px;
  height:45px;
}
#u3663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:90px;
  width:83px;
  height:45px;
}
#u3664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:90px;
  width:92px;
  height:45px;
}
#u3665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:45px;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:90px;
  width:188px;
  height:45px;
}
#u3666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:90px;
  width:155px;
  height:45px;
}
#u3667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:90px;
  width:197px;
  height:45px;
}
#u3668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:90px;
  width:92px;
  height:45px;
}
#u3669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:488px;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:601px;
  width:1920px;
  height:488px;
}
#u3670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u3672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u3673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
  background:inherit;
  background-color:rgba(94, 138, 203, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:380px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:132px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:200px;
  width:101px;
  height:132px;
}
#u3675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:136px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:196px;
  width:90px;
  height:136px;
}
#u3676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:136px;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:196px;
  width:103px;
  height:136px;
}
#u3677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
