body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u4208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u4209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:791px;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1920px;
  height:791px;
}
#u4211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:39px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:39px;
}
#u4213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:114px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4215 {
  position:absolute;
  left:725px;
  top:148px;
  visibility:hidden;
}
#u4215_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  background-image:none;
}
#u4215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u4216_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u4218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:114px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4223 {
  position:absolute;
  left:123px;
  top:148px;
  visibility:hidden;
}
#u4223_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
  background-color:rgba(0, 102, 0, 1);
  background-image:none;
}
#u4223_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
}
#u4224_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:303px;
}
#u4226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u4227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u4228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:173px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u4229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:173px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:169px;
  word-wrap:break-word;
}
#u4235 {
  position:absolute;
  left:282px;
  top:148px;
  visibility:hidden;
}
#u4235_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  background-image:none;
}
#u4235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u4236_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u4238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4240 {
  position:absolute;
  left:441px;
  top:148px;
  visibility:hidden;
}
#u4240_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  background-image:none;
}
#u4240_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u4241_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u4243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u4244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u4245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u4246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u4251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u4253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:113px;
  width:115px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u4254 {
  position:absolute;
  left:606px;
  top:148px;
  visibility:hidden;
}
#u4254_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  background-image:none;
}
#u4254_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u4255_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u4257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u4266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u4267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:114px;
  width:157px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u4271 {
  position:absolute;
  left:904px;
  top:149px;
  visibility:hidden;
}
#u4271_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
  background-image:none;
}
#u4271_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
}
#u4272_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:204px;
}
#u4274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u4277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4280 {
  position:absolute;
  left:1065px;
  top:149px;
  visibility:hidden;
}
#u4280_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
  background-image:none;
}
#u4280_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
}
#u4281_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:303px;
}
#u4283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:229px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u4292 {
  position:absolute;
  left:1225px;
  top:149px;
  visibility:hidden;
}
#u4292_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  background-image:none;
}
#u4292_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4293_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4296 {
  position:absolute;
  left:1382px;
  top:149px;
  visibility:hidden;
}
#u4296_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
  background-image:none;
}
#u4296_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
}
#u4297_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:70px;
}
#u4299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
#u4300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:229px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:225px;
  word-wrap:break-word;
}
