body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:112px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:111px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:39px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:1920px;
  height:39px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:114px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:148px;
  width:175px;
  height:138px;
}
#u114_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:138px;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:175px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:175px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:114px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:148px;
  width:159px;
  height:270px;
}
#u121_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:270px;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:159px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:148px;
  width:159px;
  height:70px;
}
#u131_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:70px;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:148px;
  width:181px;
  height:270px;
}
#u135_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:270px;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:181px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:181px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  word-wrap:break-word;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:113px;
  width:159px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
  background:inherit;
  background-color:rgba(2, 86, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:113px;
  width:115px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:148px;
  width:201px;
  height:338px;
}
#u148_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:338px;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:201px;
  height:33px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:201px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
